kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{ filesDynamicClassName }}"
  annotations:
{% if defaultStorageClass == "files" %}
    storageclass.kubernetes.io/is-default-class: "true"
{% else %}
    storageclass.kubernetes.io/is-default-class: "false"
{% endif %}

provisioner: csi.nutanix.com
parameters:
    dynamicProv: ENABLED
    nfsServerName: {{ filesDynamicNfsServerName }}
    csi.storage.k8s.io/provisioner-secret-name: "{{ secret_name }}"
    csi.storage.k8s.io/provisioner-secret-namespace: "{{ namespace }}"
    storageType: NutanixFiles
reclaimPolicy: {{ filesDynamicReclaimPolicy }}
